<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Analyzer</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
