{% extends "base.html" %}

{% block content %}
	<article class="card">
		<header>
			<h1 class="title">📁 Subir un archivo de texto</h1>
		</header>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div role="alert" class="alert">
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
			{% endif %}
		{% endwith %}

		<section class="upload-form">
			<form method="post" enctype="multipart/form-data">
				<div class="file-input">
					<input type="file" name="file" id="file" accept=".txt, .csv, .md, .gitignore" hidden>
					<label id="file-button">
						Seleccionar archivo
						<p id="file-name">Hola</p>
					</label>
				</div>
				<button type="submit" class="btn">Analizar Archivo</button>
			</form>
		</section>
	</article>
<script>
	const fileInput = document.getElementById('file');
	const fileName = document.getElementById('file-name');
	const fileButton = document.getElementById('file-button');

    fileName.style.display = 'none';

	const dropEvents = ['dragenter', 'dragover', 'dragleave', 'drop'];

	dropEvents.forEach(event => {
		fileButton.addEventListener(event, e => e.preventDefault());
	});

	fileButton.addEventListener('click', () => {
		fileInput.click();
	});

	fileInput.addEventListener('change', () => {
		fileName.innerText = ` ${fileInput.files[0].name}`;
		fileName.style.display = 'flex';
	});

	fileButton.addEventListener('drop', e => {
		fileInput.files = e.dataTransfer.files;
		const file = fileInput.files[0];

		fileName.innerText = ` ${fileInput.files[0].name}`;
		fileName.style.display = 'flex';
	});
</script>
{% endblock %}
